body{background-color:yellowgreen;background-image:url(6777486e7ac73f627f41dceddc0eedd1.png);background-repeat:no-repeat;background-position:center;height:100vh}

.button{background-color:#19B3E6;color:#fff;font-size:1.8rem}

